{{#if touched}}
    <label class={{if emailError (validation-email data "label") (validation-required data "label")}} for={{inputName}}>
        {{label-name inputName}}
    </label>
        {{#if textarea}}
            {{textarea 
                value=data 
                id=inputName 
                class=(if emailError (validation-email data "input") (validation-required data "input"))
            }}
        {{else}}
            {{input 
                type=inputType 
                value=data 
                id=inputName 
                class=(if emailError (validation-email data "input") (validation-required data "input"))
            }}
        {{/if}}
    <span class={{validation-required data "span"}}>
        {{label-name inputName}} {{errorMessage}} <strong>required</strong>!
    </span>
    {{#if emailError}}
        <span class={{validation-email data "span"}}>
            Please enter a <strong>valid</strong> email address.
        </span>
    {{/if}}
{{else}}
    <label class="user-edit__formControl__label" for={{inputName}}>
        {{label-name inputName}}
    </label>
    {{#if textarea}}
        {{textarea 
            value=data 
            id=inputName 
            focus-out=(action "toggle") class="user-edit__formControl__input"
        }}
    {{else}}
        {{input 
            type=inputType 
            value=data 
            id=inputName 
            focus-out=(action "toggle") 
            class="user-edit__formControl__input"
        }}
    {{/if}}
{{/if}}