{{link-to "Home" "index" class="navigation__link"}}
{{link-to "View Users" "users" class="navigation__link"}}
{{link-to "Favorites" "favorites" class="navigation__link"}}
{{link-to "Add User" "add-user" class="navigation__link"}}
{{link-to "About" "about" class="navigation__link"}}
<span class="navigation__total-users">Users: {{users.length}}</span>
{{yield}}