<form class="user-edit">
    <h2 class="user-edit__title">User Edit</h2>
    {{form-control data=firstName inputName="firstName" inputType="text"}}
    {{form-control data=lastName inputName="lastName" inputType="text"}}
    {{form-control data=email inputName="email" inputType="email"}}
    {{form-control data=points inputName="number" inputType="number"}}

    <div class="user-edit__formControl__label">User status</div>
    <div class="user-edit__formControl--radio">
        <input oninput={{action "radioBtn"}} type="radio" name="status" id="status-online" value="true"
            checked={{if status "checked" ""}}>
        <label for="status-online">Online</label>
    </div>
    <div class="user-edit__formControl--radio">
        <input oninput={{action "radioBtn"}} type="radio" name="status" id="status-offline" value="false"
            checked={{if status "" "checked"}}>
        <label for="status-offline">Offline</label>
    </div>
    <div class="user-edit__actions">
        <button type="button" class="user-edit__go-back-btn" {{action "handleGoBack"}}>
            Go Back
        </button>
        <button disabled={{if formValid "" "disabled"}} type="button" class="user-edit__update-btn" {{action "submit"}}>
            Update
        </button>
    </div>
</form>