<div class="filter-sort">
    {{input class="filter-sort__search" type="text" value=searchValue placeholder="Search user..."}}
    {{sort-by sortBy=sortBy}}
</div>
{{#if users.length}}
    <ul class="user-list">
        <li class="user-list__header">
            <div class="user-list__user-name">User</div>
            <div class="user-list__user-status--header">Status</div>
        </li>
        {{#each users as |user index|}}
            {{list-entry user=user click=(action "viewUserDetail" user) lastComponent=(truthy-falsy index lastIndex)}}
        {{/each}}
    </ul>
{{else}}
    {{empty-list}}
{{/if}}
{{outlet}}