<div class="filter-sort">
    {{input class="filter-sort__search" type="text" value=searchValue placeholder="Search user..."}}
    {{sort-by sortBy=sortBy hadnleSelect=(action "changePage")}}
</div>
{{#if users.length}}
    <ul class="user-list">
        <li class="user-list__header">
            <div class="user-list__user-name">User</div>
            <div class="user-list__user-status--header">Status</div>
        </li>
        {{#each users as |user index|}}
            {{list-entry user=user}}
        {{/each}}
        {{app-pagination page=page numberOfPages=numberOfPages handleChangePage=(action "changePage")}}
        {{#if showCompareMini}}
            {{users-compare-mini}}
        {{/if}}
    </ul>
{{else}}
    {{empty-list}}
{{/if}}
{{outlet}}